// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: black;
    color: white;
}

.leaches {
    position: relative;
}

.leach {
    font-size: 5em;
    position: absolute;
    top:0;
    left:0;
    background-color: black;
    opacity: 0;
    transition: opacity 2s 0s;

    span {
        color: black;

        &.type {
            transition: color 2s 0s, background-color 2s 0s;

            rb {
                transition: color 2s 0s, background-color 2s 0s;
            }

            rt {
                transition: color 2s 14s, background-color 2s 14s;
            }
        }

        &.reading {
            transition: color 2s 14s, background-color 2s 14s;
        }

        &.meaning {
            transition: color 2s 7s, background-color 2s 7s;
        }
    }

    &.active {
        opacity: 1;
        
        span {
            color: white;
        }
        
        .radical {
            background-color: #0af;
        }

        .kanji {
            background-color: #f0a;

            rb {
                background-color: #f0a;
                color: white;
            }
        }

        .vocabulary {
            background-color: #a0f;

            rb {
                background-color: #a0f;     
                color: white;       
            }
        }
    }
}

.demo-mode {
    position: absolute;
    right: 0.5em;
    color: gray;
}

.error {
    color: red;
    font-size: 2em;
}
