// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: black;
    color: white;
}

.leaches {
    position: relative;
}

.leach {
    font-size: 5em;
    position: absolute;
    top:0;
    left:0;
    color: black;
    background-color: black;
    opacity: 0;
    transition: opacity 2s;

    &.active {
        color: white;
        opacity: 1;

        .radical {
            background-color: #0af;
        }

        .kanji {
            background-color: #f0a;
        }

        .vocabulary {
            background-color: #a0f;
        }
    }
}

